<div style="margin-bottom: 10px">
  <svg width="90" height="90" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="Logo" opacity="0.5">
      <path id="Vector" d="M40.64 70.608C32.1827 70.608 24.0718 67.2485 18.0917 61.2683C12.1116 55.2882 8.75195 47.1773 8.75195 38.72V6.83203H72.512V38.72C72.512 47.1746 69.1546 55.2829 63.1778 61.2626C57.2011 67.2422 49.0944 70.6038 40.64 70.608Z" stroke="#F7F0E5" stroke-width="1.6" stroke-miterlimit="10"/>
      <path id="Vector_2" d="M40.64 65.2489C36.987 65.2573 33.3683 64.5451 29.9909 63.1529C26.6136 61.7608 23.544 59.7163 20.9581 57.1361C18.372 54.5561 16.3203 51.4912 14.9204 48.1171C13.5206 44.743 12.8 41.1259 12.8 37.4729V9.71289H68.4V37.4729C68.4021 41.1197 67.6856 44.7312 66.2915 48.1011C64.8974 51.4709 62.853 54.5331 60.2749 57.1125C57.697 59.692 54.636 61.7382 51.267 63.1342C47.8979 64.5304 44.2869 65.2489 40.64 65.2489Z" stroke="#F7F0E5" stroke-width="1.6" stroke-miterlimit="10"/>
      <path id="Vector_3" d="M40.64 59.8882C34.3667 59.8882 28.3501 57.3973 23.9126 52.9629C19.4752 48.5285 16.9802 42.5134 16.976 36.2402V12.5762H64.288V36.2402C64.288 42.512 61.7965 48.527 57.3616 52.9618C52.9267 57.3966 46.9118 59.8882 40.64 59.8882Z" stroke="#F7F0E5" stroke-width="1.6" stroke-miterlimit="10"/>
      <path id="Vector_4" d="M40.64 54.5431C35.4544 54.5431 30.4813 52.4832 26.8146 48.8165C23.148 45.1498 21.088 40.1767 21.088 34.9911V15.4551H60.176V34.9911C60.176 40.1738 58.1182 45.1445 54.455 48.8107C50.7917 52.477 45.8227 54.5389 40.64 54.5431Z" stroke="#F7F0E5" stroke-width="1.6" stroke-miterlimit="10"/>
      <path id="Vector_5" d="M40.64 49.1839C36.5478 49.1839 32.623 47.5593 29.728 44.6673C26.8328 41.7751 25.2043 37.8521 25.2 33.7599V18.3359H56V33.7599C55.9958 37.8382 54.3782 41.7492 51.5005 44.6391C48.6226 47.5289 44.7182 49.1628 40.64 49.1839Z" stroke="#F7F0E5" stroke-width="1.6" stroke-miterlimit="10"/>
      <path id="Vector_6" d="M40.64 43.8392C37.6357 43.8392 34.7542 42.6458 32.6299 40.5213C30.5054 38.397 29.312 35.5155 29.312 32.5112V21.1992H51.952V32.5112C51.952 35.5128 50.7608 38.3917 48.6398 40.5157C46.5189 42.6397 43.6416 43.8349 40.64 43.8392Z" stroke="#F7F0E5" stroke-width="1.6" stroke-miterlimit="10"/>
      <path id="Vector_7" d="M40.64 38.4801C38.7306 38.4801 36.8992 37.7215 35.5488 36.3713C34.1986 35.021 33.44 33.1897 33.44 31.2801V24.0801H47.84V31.2801C47.8358 33.1884 47.0758 35.0174 45.7266 36.3666C44.3771 37.7161 42.5483 38.4759 40.64 38.4801Z" stroke="#F7F0E5" stroke-width="1.6" stroke-miterlimit="10"/>
      </g>
  </svg>
</div>
